body {
    padding-top: 50px;
    padding-bottom: 20px;
}

span {
    font-weight: bold;
    font-size: 1.2em;
}

button {
    cursor: pointer;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.row {
    margin-bottom: 6px;
}
